{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
    {% block js_css %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/randomcolor.js' %}"></script>
    {% endblock %}
</head>
<body onLoad="pickColor()">

    <div class="header">
      <a href="#default" class="logo">Notes</a>
      <div class="header-right">
          <form class="searchform">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search" style="font-size:16px"></i></button>
          </form>
          <a href="{% url 'create_note' %}">Create note</a>
          {% block user_notes %}
            <a href="{% url 'user_notes' %}">My notes</a>
          {% endblock %}
          {% block group_notes %}
            <a href="{% url 'group_notes' %}">Group notes</a>
          {% endblock %}
        <a href="{% url 'logout' %}">Log out</a>
      </div>
    </div>
    <div class="main">
        {% block note %}
        {% endblock %}
    </div>
</body>
</html>