{% extends "base.html" %}
{% load static %}
{% block user_notes %}
    <a class="active" href="{% url 'user_notes' %}">My notes</a>
    <script src="{% static 'js/delete_note.js' %}"></script>
    <script src="{% static 'js/get_audio.js' %}"></script>
{% endblock %}
{% block note %}
    {% for item in notes %}
        <div class="note">
            <div class="buttonalignment">
                <button class="actionbutton" value="{{ item.id }}" onclick="play(this.value, '{% url 'get_audio' %}');">
                    <span class="deletebutton">&#x1F508;</span>
                </button>
                <button class="actionbutton" onclick="window.location.href='{% url 'user_note' item.id %}';">
                    <span class="updatebutton">&#x270E;</span>
                </button>
                <button class="actionbutton" onclick="delete_note('{% url 'user_note' item.id %}', '{{ csrf_token }}');">
                    <span class="deletebutton">&#x2715;</span>
                </button>
            </div>
            Title: {{ item.title }}<br>
            Category: {{ item.category }}<br>
            Reminder: {{ item.reminder }}<br><br>
            {{ item.text }}
        </div>
    {% endfor %}
{% endblock %}