{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="centered">
        <p class="login">Notes</p>
        <form class="inputform" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}
            <input type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
            <a href="{% url 'password_reset' %}">Lost password?</a>
        </form>
        {# Assumes you setup the password_reset view in your URLconf #}
    </div>

</body>
</html>